apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: e2e-tests-go-lepgglnl-import
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/e2e-tests-go-lepgglnl-import:3dfffe5300e8b7f436cbb74f005633aa54e6dc59@sha256:ad3949d1b3ed693514c786609e229a0c20d34024ef74c0a757d92dcf0cda93d6
          name: container-image
